{% extends '@Webshop/base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if is_granted("ROLE_ADMIN") %}
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_profile_edit'), 'attr': {'class': 'fos_user_profile_edit'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit"
                   class="btn btn-lg btn-primary btn-block"
                   id="_submit"
                   name="_submit"
                   value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    {% else %}
        <h3>U dient eerst als adminUser aanmelden!</h3>
    {% endif %}
{% endblock %}